<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container">
      <div class="grid-row padding-3">
        <div class="tablet:grid-col 3"><div class="font_smaller">
           <div class="logo-links">
            The CMTS serves as a Federal interagency coordinating committee for the purpose of assessing the adequacy of the marine transportation system, promoting the integration of the marine transportation system with other modes of transportation and other uses of the marine environment, and coordinating, improving the coordination of, and making recommendations with regard to Federal policies that impact the marine transportation system.<br>
           </div>
          </div>
        </div>
        <div style="width:200px;"></div>
        <div class="tablet:grid-col"><div class="font_smaller">Contact Us:<br>
          Committee on the Marine Transportation System<br>
          Office of the Executive Secretariat<br>
          U.S. Department of Transportation<br>
          1200 New Jersey Ave SE<br>
          Washington, DC 20590<br>
          (202) 366-3612<br>
          <a href="mailto:info@cmts.gov">info@cmts.gov</a></div>
        </div>
      </div>
    </div>
  </div>
</footer>